<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="NordicID.NurApi.Net" version="6.0.1" targetFramework="net48" />
  <package id="NordicID.NurApi.SerialTransport" version="4.0.5" targetFramework="net48" />
  <package id="NordicID.NurApi.USBTransport" version="4.0.7" targetFramework="net48" />
  <package id="ScottPlot" version="4.1.74" targetFramework="net48" />
  <package id="ScottPlot.WinForms" version="4.1.74" targetFramework="net48" />
  <package id="System.CodeDom" version="8.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="9.0.0" targetFramework="net48" />
  <package id="System.IO.Ports" version="8.0.0" targetFramework="net48" />
  <package id="System.Management" version="8.0.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>